<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= content_for(:title) || "受付システム" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= stylesheet_link_tag :app %>
  </head>

  <body>
    <div class="container">
      <% if flash[:notice] %>
        <div class="flash flash-notice"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="flash flash-alert"><%= flash[:alert] %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
